<header class="header">
  <aside class="logo-content">
    <img src="../../assets/logo__revo.png" alt="" />
    <span class="logo__text">
      <span class="logo"><span class="logo-red-text">REVO</span>. HOME</span>
      <span class="logo-base-text">REAL ESTATE WILL NEVER BE THE SAME</span>
    </span>
  </aside>
  <aside class="nav-content">
    <nav class="navs">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <select name="category" id="category">
            <option value="zaman" class="category-item">Category</option>
            <option value="zaman" class="category-item">munna__dart</option>
            <option value="zaman" class="category-item">munna__dart</option>
          </select>
        </li>
        <li class="nav-item"><a class="nav-link">REVO Builders</a></li>
        <li class="nav-item"><a class="nav-link">List Property</a></li>
        <li class="nav-item"><a class="nav-link">Sign Up</a></li>
        <li class="nav-item">
          <a class="nav-link">
            <select name="accounts" id="accounts" class="accounts">
              <option value="seller" class="account-item">My Account</option>
              <option value="seller" class="account-item">munna__dart</option>
              <option value="seller" class="account-item">My Account</option>
            </select>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
</header>
