<section class="footer">
    <aside class="first__section">
        <ul class="footer__list">
            <li class="list__item list__main">
               We are in
            </li>
            <li class="list__item"><a class="list__link">USA</a></li>
            <li class="list__item"><a class="list__link">China</a></li>
            <li class="list__item"><a class="list__link">India</a></li>
            <li class="list__item"><a class="list__link">Canada</a></li>
            <li class="list__item"><a class="list__link">Japan</a></li>
        </ul>
        <ul class="footer__list">
            <li class="list__item list__main">
              Our Services
            </li>
            <li class="list__item"><a class="list__link">Property Listing</a></li>
            <li class="list__item"><a class="list__link">Property Management</a></li>
            <li class="list__item"><a class="list__link">Loan Services</a></li>
        </ul>
        <ul class="footer__list">
            <li class="list__item list__main">
              With Us
            </li>
            <li class="list__item"><a class="list__link">Seller</a></li>
            <li class="list__item"><a class="list__link">Builders</a></li>
            <li class="list__item"><a class="list__link">Buyers</a></li>
            <li class="list__item"><a class="list__link">Bank Agent</a></li>
            <li class="list__item"><a class="list__link">Transaction Manager</a></li>
            <li class="list__item"><a class="list__link">Driver</a></li>
        </ul>
        <ul class="footer__list">
            <li class="list__item list__main">
              Quick Links
            </li>
            <li class="list__item"><a class="list__link">Properties</a></li>
            <li class="list__item"><a class="list__link">Builders</a></li>
            <li class="list__item"><a class="list__link">Categories</a></li>
            <li class="list__item"><a class="list__link">Builders</a></li>
        </ul>
        <ul class="footer__list">
            <li class="list__item list__main">
              Help
            </li>
            <li class="list__item"><a class="list__link">FAQ Policy</a></li>
            <li class="list__item"><a class="list__link">Terms & Conditions</a></li>
            <li class="list__item"><a class="list__link">Privacy Policy</a></li>
            <li class="list__item"><a class="list__link">Editorial Policy</a></li>
            <li class="list__item"><a class="list__link">Referal Policy</a></li>
            <li class="list__item"><a class="list__link">Site Map</a></li>
        </ul>
    </aside>
    <aside class="second__section">
        <span class="icons">
          <i class="fa-brands fa-facebook-f"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
        </span>
        <span class="footer__title">
          ©2022 REVO Home . All rights reserved. <a>Terms</a>  | <a>Privacy</a>
        </span>
    </aside>
    
</section>