<section class="projects__section">
  <aside class="container">
    <aside class="section__title__box">
      <h3 class="title">Handpicked Residential Projects</h3>
      <span class="small__title">Featured Residential projects across world</span>
    </aside>
    <aside class="card__section">
      <aside class="card">
        <span class="project__purpose">Rent</span>
        <span class="card__image">
          <img src="../../assets/pexels-aytaj-asgar-13738818.jpg" alt="" />
        </span>
        <span class="project__details">
          <span class="project__name"> Hill Top View Residentias </span>
          <span class="project__address">
            2 BHk Apartments, sector-16, USA
          </span>
          <span class="project__price"> $ 1,000 </span>
        </span>
        <span class="card__icon">
          <span class="material-icons-round icon"> apartment </span>
        </span>
      </aside>
      <aside class="card">
        <span class="project__purpose">Rent</span>
        <span class="card__image">
          <img src="../../assets/pexels-aytaj-asgar-13738818.jpg" alt="" />
        </span>
        <span class="project__details">
          <span class="project__name"> Hill Top View Residentias </span>
          <span class="project__address">
            2 BHk Apartments, sector-16, USA
          </span>
          <span class="project__price"> $ 1,000 </span>
        </span>
        <span class="card__icon">
          <span class="material-icons-round icon"> apartment </span>
        </span>
      </aside>
      <aside class="card">
        <span class="project__purpose">Rent</span>
        <span class="card__image">
          <img src="../../assets/pexels-aytaj-asgar-13738818.jpg" alt="" />
        </span>
        <span class="project__details">
          <span class="project__name"> Hill Top View Residentias </span>
          <span class="project__address">
            2 BHk Apartments, sector-16, USA
          </span>
          <span class="project__price"> $ 1,000 </span>
        </span>
        <span class="card__icon">
          <span class="material-icons-round icon"> apartment </span>
        </span>
      </aside>
    </aside>
  </aside>
</section>
