<section class="downloading__section">
  <aside class="container">
    <span class="section__title">All In One In <span>Revo</span></span>
    <aside class="download__section">
      <span class="download__title">Download the app for free</span>
      <aside class="download__cards">
        <a class="card">
          <span class="card__image">
            <img class="apple" src="../../assets/apple.png" alt="" />
          </span>
          <span class="card__description">
            <span class="desc__1">Download on the</span>
            <span class="desc__2">App Store</span>
          </span>
        </a>
        <a class="card">
          <span class="card__image">
            <img src="../../assets/google-play.png" alt="" />
          </span>
          <span class="card__description">
            <span class="desc__1">Download on the</span>
            <span class="desc__2">Play Store</span>
          </span>
        </a>
      </aside>
    </aside>
  </aside>
</section>
