@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/fonts";
@import "../../assets/scss/base/mixins";
@import "../../assets/scss/base/typography";

.hero-section {
  @include d-flex(center, center);
  height: 70vh;
  background-color: #2ABFCE;
  position: relative;
  .hero-title-box {
    @include d-flex(center, center);
    @include flex-fd-column;

    .hero-title {
      color: #fff;
      font-size: $font-size-28;
    }

    .hero-title-small {
      color: #fff;
      margin: 2em;
    }

    .hero-btn {
      color: $black2;
      font-weight: 500;
      padding: 1em 2em;
      border-radius: 2rem;
      display: block;
      background-color: #fff;
    }
  }

  .search-section {
    filter:drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.265));
    position: absolute;
    bottom: -2rem;
    width: 65%;
    @include d-flex(center, center);
    @include flex-fd-column;
    .category-nav-content {
      background-color: $black1;
      font-size: .8rem;
      font-weight: 400;
      color: $white;
      padding: 0.8em 0;
      border-radius: 10px 10px 0 0;
      width: 90%;

      .nav-list {
        @include d-flex(center, center);
        @include list-no-style;
        padding: 0;
        margin: 0;
      }

      .nav-item {
        margin-bottom: 0.3em;
        cursor: pointer;
        padding: 0 3em;
        border-right: 1px solid $white;
      }

      .nav-item:nth-child(5) {
        border: none;
      }
    }
    .search-container {
        background-color: $white;
      width: 100%;
      border-radius: 10rem;
      padding: 0.5em;
      
      @include d-flex(center, center);
      .location-select-container {
        @include d-flex(center, center);
        padding: 0.5em 1em;
        border-right: 1px solid $gray2;
        color: $gray2;
        select{
            margin-left:1em;
            padding-right: .5em;
            outline: none;
            border: none;
            font-family: $family;
            font-weight: 300;
            color: $gray2;
        }

        span{
          font-size: 1.3rem;
        }
      }
      .search-input {
        flex: 1;
        outline: none;
        border: none;
        padding: 0 3em;
        font-family: $family;
        font-weight: 300;
      }

      .search-btn{
        padding: 1em 3em;
        border: 2px solid $logo-red;
        border-radius: 10rem;
        color: $logo-red;
        font-weight: 600;
      }
    }
  }
}
