<section class="hero-section">
    <aside class="hero-title-box">
        <h1 class="hero-title">
            Revolution Starts Here
        </h1>
        <span class="hero-title-small">
            Revo helps you get your dream faster.
        </span>
        <a class="hero-btn">Get Started</a>
    </aside>

    <section class="search-section">
        <aside class="category-nav-content">
            <nav class="navs">
                <ul class="nav-list">
                    <li class="nav-item"><a class="nav-link">BUY</a></li>
                    <li class="nav-item"><a class="nav-link">RENT</a></li>
                    <li class="nav-item"><a class="nav-link">COMMERCIAL</a></li>
                    <li class="nav-item"><a class="nav-link">PG/CO-LIVING</a></li>
                    <li class="nav-item"><a class="nav-link">PLOTS</a></li>
                </ul>
            </nav>
        </aside>
        <aside class="search-container">
            <span class="location-select-container">
                <span class="material-icons-round">
                    my_location
                    </span>
                <select name="" id="" class="locations">
                    <option value="" class="location-places">Choose Locality</option>
                    <option value="" class="location-places">munna--drat</option>
                    <option value="" class="location-places">munna--drat</option>
                </select>
            </span>
            
            <input class="search-input" type="text" placeholder="Search for locaity, landmark, project or builders">
            <a  class="search-btn">Search</a>
        </aside>
    </section>
</section>