<section class="builder__section">
  <aside class="container">
    <span class="section__title">Builders</span>
    <aside class="section__cards">
      <aside class="card__container">
        <span class="card__image">
          <img src="../../assets/R (1).jpg" />
        </span>
        <span class="builder__details">
          <span class="builder__name">AD Constructions</span>
          <span class="builder__item__numbers">86+ items</span>
        </span>
        <span class="card__btn">
          <span class="material-icons-round btn__icon"> navigate_next </span>
        </span>
      </aside>
      <aside class="card__container">
        <span class="card__image">
          <img src="../../assets/pankajakasthuri_500-1.png" />
        </span>
        <span class="builder__details">
          <span class="builder__name">ABC Builders</span>
          <span class="builder__item__numbers">90+ items</span>
        </span>
        <span class="card__btn">
          <span class="material-icons-round btn__icon"> navigate_next </span>
        </span>
      </aside>
      <aside class="card__container">
        <span class="card__image">
          <img src="../../assets/Himalaya-Logo-design-india-PNG-Transparent-Images.png" />
        </span>
        <span class="builder__details">
          <span class="builder__name">GK Builders</span>
          <span class="builder__item__numbers">85+ items</span>
        </span>
        <span class="card__btn">
          <span class="material-icons-round btn__icon"> navigate_next </span>
        </span>
      </aside>
      <aside class="card__container">
        <span class="card__image">
          <img src="../../assets/final-logo-01.png" />
        </span>
        <span class="builder__details">
          <span class="builder__name">A Group Construction</span>
          <span class="builder__item__numbers">130+ items</span>
        </span>
        <span class="card__btn">
          <span class="material-icons-round btn__icon"> navigate_next </span>
        </span>
      </aside>
      <aside class="card__container">
        <span class="card__image">
          <img src="../../assets/gerrardexcavating-logo.png" />
        </span>
        <span class="builder__details">
          <span class="builder__name">ZG Groups</span>
          <span class="builder__item__numbers">125+ items</span>
        </span>
        <span class="card__btn">
          <span class="material-icons-round btn__icon"> navigate_next </span>
        </span>
      </aside>
    </aside>
  </aside>
</section>
