@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/fonts";
@import "../../assets/scss/base/mixins";
@import "../../assets/scss/base/typography";

.card__section {
  padding: 6em 0;
  gap: 3rem;
  font-size: $font-size-7;
  @include d-flex(space-between, center);
  @include flex-fd-column;
  background-color: #f8f9fb;
  .popular__search {
    @include d-flex(center, center);
    @include flex-fw-wrap;
    .input-container {
      @include d-flex(center, center);
      .search__field {
        @include font($family, 0.9rem, 500);
        box-sizing: border-box;
        border: none;
        outline: none;
      }
      .icon {
        font-weight: 600;
        font-size: 1.2rem;
        color: $gray2;
        margin-right: 0.5em;
      }
    }

    .search-list {
      @include list-no-style;
      @include d-flex(center, center);
      @include flex-fw-wrap;

      .search-item {
        background-color: $gray6;
        margin: 0 1em;
        padding: 0.8em 1.6em;
        border-radius: 10rem;
        color: $gray2;
        font-size: $font-size-7;
      }
    }
  }
  .small__card__section {
    @include d-flex(center, flex-start);
    @include flex-fw-wrap;
    gap: 3rem;
    .s__card {
      @include d-flex(space-between, center);
      @include flex-fd-column;

      .card__content {
        background-color: #fff;
        @include h-w(6rem, 6rem);
        @include d-flex(center, center);
        border-radius: 0.5rem;
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.159);
        color: #5d47dca4;
        position: relative;
        .card__circle {
          position: absolute;
          border-radius: 50%;
          background-color: #5d47dc27;
        }

        .circle1 {
          @include h-w(0.8rem, 0.8rem);
          bottom: 1.7rem;
          left: 1.7rem;
        }
        .circle2 {
          @include h-w(2.5rem, 2.5rem);
        }
        .circle3 {
          @include h-w(1.4rem, 1.4rem);
          top: 1.3rem;
          right: 1.3rem;
        }
      }
      .green {
        color: #28c483a4;
        .card__circle {
          background-color: #28c48327;
        }
      }
      .purple {
        color: #8f1bc1a4;
        .card__circle {
          background-color: #8f1bc127;
        }
      }
      .yellow {
        color: #a8a93da4;
        .card__circle {
          background-color: #a8a93d27;
        }
      }
      .orange {
        color: #e3991ea4;
        .card__circle {
          background-color: #e3991e27;
        }
      }
      .magenta {
        color: #e22d84a4;
        .card__circle {
          background-color: #e22d8427;
        }
      }
      .salmon {
        color: #dca38ca4;
        .card__circle {
          background-color: #dca38c27;
        }
      }
      .blue {
        color: #6592d7a4;
        .card__circle {
          background-color: #6592d727;
        }
      }
    }

    .card__title {
      @include font($family, 0.9rem, 500);
      margin-top: 1em;
      width: 6rem;
      text-align: center;
      color: $black1;
    }
  }

  .big__card__section {
    @include d-flex(center, center);
    @include flex-fw-wrap;

    gap: 1.4rem;
    .b__card {
      @include d-flex(center, center);
      @include flex-fd-column;
      background-color: #fff;
      gap: 0.9rem;
      padding: 0 2.5em;
      border-radius: 0.5rem;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.18);
      text-align: center;
      @include h-w(28rem, 24rem);
      .card__image {
        img {
          width: 12rem;
        }
      }
      .card__title {
        @include font($family, 1.1rem, 600);
      }
      .card__description {
        @include font($family, 0.9rem, 300);
        line-height: 1.8rem;
        color: $gray8;
      }
      .card__button {
        padding: 0.8em 1.4em;
        border-radius: 10rem;
        border: 1.5px solid $logo-red;
        color: $logo-red;
        @include font($family, 1rem, 600);
      }
    }
  }
}
