<section class="card__section">
  <aside class="popular__search">
    <span class="input-container">
      <span class="material-icons-round icon"> search </span>
      <input
        class="search__field"
        type="text"
        name="search"
        placeholder="Popular Searches"
      />
    </span>
    <ul class="search-list">
      <li class="search-item"><a class="search-link">Search 01</a></li>
      <li class="search-item"><a class="search-link">Search 02</a></li>
      <li class="search-item"><a class="search-link">Search 03</a></li>
      <li class="search-item"><a class="search-link">Search 04</a></li>
      <li class="search-item"><a class="search-link">Search 05</a></li>
      <li class="search-item"><a class="search-link">Search 06</a></li>
      <li class="search-item"><a class="search-link">Search 07</a></li>
    </ul>
  </aside>

  <aside class="small__card__section">
    <aside class="s__card">
      <span class="card__content violet">
        <span class="material-icons-round card__icon"> maps_home_work </span>
        <span class="card__circle circle1"></span>
        <span class="card__circle circle2"></span>
        <span class="card__circle circle3"></span>
      </span>
      <span class="card__title"> Pay Rent </span>
    </aside>
    <aside class="s__card">
      <span class="card__content green">
        <span class="material-icons-round card__icon">villa </span>
        <span class="card__circle circle1"></span>
        <span class="card__circle circle2"></span>
        <span class="card__circle circle3"></span>
      </span>
      <span class="card__title"> Rent Agreement </span>
    </aside>
    <aside class="s__card">
      <span class="card__content purple">
        <span class="material-icons-round card__icon">credit_score </span>
        <span class="card__circle circle1"></span>
        <span class="card__circle circle2"></span>
        <span class="card__circle circle3"></span>
      </span>
      <span class="card__title"> Home Loans </span>
    </aside>
    <aside class="s__card">
      <span class="card__content yellow">
        <span class="material-icons-round card__icon">chair </span>
        <span class="card__circle circle1"></span>
        <span class="card__circle circle2"></span>
        <span class="card__circle circle3"></span>
      </span>
      <span class="card__title"> Home Interiors </span>
    </aside>
    <aside class="s__card">
      <span class="card__content orange">
        <span class="material-icons-round card__icon"> solar_power </span>
        <span class="card__circle circle1"></span>
        <span class="card__circle circle2"></span>
        <span class="card__circle circle3"></span>
      </span>
      <span class="card__title"> Solar Rooftop </span>
    </aside>
    <aside class="s__card">
      <span class="card__content magenta">
        <span class="material-icons-round card__icon"> diamond </span>
        <span class="card__circle circle1"></span>
        <span class="card__circle circle2"></span>
        <span class="card__circle circle3"></span>
      </span>
      <span class="card__title"> Premium Apartment </span>
    </aside>
    <aside class="s__card">
      <span class="card__content salmon">
        <span class="material-icons-round card__icon">local_shipping </span>
        <span class="card__circle circle1"></span>
        <span class="card__circle circle2"></span>
        <span class="card__circle circle3"></span>
      </span>
      <span class="card__title"> Packers & Movers </span>
    </aside>
    <aside class="s__card">
      <span class="card__content blue">
        <span class="material-icons-round card__icon"> real_estate_agent </span>
        <span class="card__circle circle1"></span>
        <span class="card__circle circle2"></span>
        <span class="card__circle circle3"></span>
      </span>
      <span class="card__title">Property Management</span>
    </aside>
  </aside>

  <aside class="big__card__section">
    <aside class="b__card">
        <span class="card__image">
            <img src="../../assets/Group 57737.svg" alt="">
        </span>
        <span class="card__title">
            BUY PROPERTY
        </span>
        <span class="card__description">
            Find your place with an immersive photo experience and the most listings, including things you won’t find anywhere else.
        </span>
        <a class="card__button">Browse</a>
    </aside>
    <aside class="b__card">
        <span class="card__image">
            <img src="../../assets/Group 57737.svg" alt="">
        </span>
        <span class="card__title">
            SELL PROPERTY
        </span>
        <span class="card__description">
          No matter what path you take to sell your home, we can help you navigate a successful sale.
        </span>
        <a class="card__button">Start Now</a>
    </aside>
    <aside class="b__card">
        <span class="card__image">
            <img src="../../assets/Group 57737.svg" alt="">
        </span>
        <span class="card__title">
            RENT PROPERTY
        </span>
        <span class="card__description">
          Find your place with an immersive photo experience and the most listings, including things you won’t find anywhere else.
        </span>
        <a class="card__button">Find Rentals</a>
    </aside>
  </aside>
</section>
